<div class="container">
  <div class="form_area">
    <p class="title">Pet Data</p>

    <form action="/pets/add" method="post" enctype="multipart/form-data">
      <div class="form_group">
        <label class="sub_title" for="name">Name</label>
        <input
          placeholder="Enter pet Name"
          class="form_style"
          type="text"
          id="name"
          name="name"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="age">Age</label>
        <input
          placeholder="e.g. 2 Months, 2 Days, 2 Years"
          id="age"
          name="age"
          class="form_style"
          type="text"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title">Gender</label>

        <div class="container_radio">
          <input id="male" type="radio" name="gender" value="male" required />
          <label class="radio_label" for="male">Male</label>

          <input
            id="female"
            type="radio"
            name="gender"
            value="female"
            required
          />
          <label class="radio_label" for="female">Female</label>
        </div>
      </div>

      <div class="form_group">
        <label class="sub_title">Size</label>
        <div class="container_radio">
          <div class="gender_radio">
            <input
              id="small"
              class="radio_input"
              type="radio"
              name="size"
              value="small"
              required
            />
            <label class="radio_label" for="small">Small</label>
            <input
              id="medium"
              class="radio_input"
              type="radio"
              name="size"
              value="medium"
              required
            />
            <label class="radio_label" for="medium">Medium</label>
            <input
              id="large"
              class="radio_input"
              type="radio"
              name="size"
              value="large"
              required
            />
            <label class="radio_label" for="large">Large</label>
          </div>
        </div>
      </div>

      <div class="form_group">
        <label class="sub_title" for="breed">Breed</label>
        <input
          placeholder="Enter pet breed"
          class="form_style"
          id="breed"
          name="breed"
          type="text"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="location">Location</label>
        <input
          placeholder="e.g. Bogor, Jawa Barat"
          class="form_style"
          name="location"
          type="text"
          required
        />
      </div>

      <div class="form_group">
        <label class="sub_title" for="description"
          >Description (Max 200 characters)</label
        >
        <span id="charCount">0/200</span>
        <textarea
          placeholder="Enter pet description"
          class="textarea_style"
          id="description"
          name="description"
          rows="4"
          oninput="maxLengthCheck(this)"
          maxlength="200"
          required
        ></textarea>
      </div>

      <div class="form_group">
      <label for="category">Pet Category:</label>
      <select id="category" name="category">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Rabbit">Rabbit</option>
        <option value="Reptile">Reptile</option>
        <option value="Bird">Bird</option>
        <option value="Fish">Fish</option>
      </select>
      </div>

      <div class="form_group">
        <label class="sub_title" for="image">Image</label>
        <div class="container_radio">
          <input
            id="image"
            class="formimg_style"
            type="file"
            name="image"
            accept="image/*"
            required
          />
        </div>
      </div>

      <div class="form_group">
        <label class="sub_title" for="image">stock image (select up to 3 img)</label>
        <div class="container_radio">
          <input
            id="stock-image"
            class="formimg_style"
            type="file"
            name="stockimage"
            accept="image/*"
            required
            multiple
          />
        </div>
      </div>

      <button type="submit" class="btn">ADD DATA</button>
    </form>
  </div>
</div>

<link rel="stylesheet" href="/style/addPet.css" />
<script src="/script/ResponsiveNavbarTes.js"></script>
<script src="/script/adminPet.js"></script>
