* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

#carouselExampleControls {
  max-width: 1100px; 
  margin: 0 auto; 
}

.carousel-inner {
  padding: 20px; 
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.carousel-item {
  display: flex;
}

.card {
  width: calc(100% / 3 - 1em); 
  margin: 0 .5em;
}

.card-title, .card-text, .btn{
  text-align: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar start*/
.navbar {
  padding: 0.8rem 10%;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  
}

.contact {
  color: rgb(187, 187, 187);
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar-logo span {
  color: #fe0000;
}

.navbar-menu a {
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  margin: 0 2rem;
}

.navbar-menu a:hover {
  color: #fe0000;
}

.navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-menu a:hover::after {
  transform: scaleX(0.5);
}

.navbar-menu a.active {
  color: #fe0000;
  border-color: #fe0000;
}
/* Navbar end */

/* Hero section start */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.hero-content {
  padding: 13rem 10%;
  max-width: 900px;
}

.hero-section-heading {
  font-size: 3.5rem;
}

.hero-p {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.hero-image {
  width: 530px;
  position: absolute;
  bottom: 9rem;
  right: 10%;
}

.cardList {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.social-container {
  margin: 20px 0;
}

.social {
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: #000;
}

.social:hover {
  background: #fe0000;
}

