* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navbar start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.Logo {
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
/* Navbar end */


/* Hero section */
.hero {
  min-height: 100vh;
  /* background-color: beige; */
  padding: 6em 10%;
}

/* top right bottom left */
.hero-image-container {
  background-size: cover;
  /* background-color: aqua; */
}

.hero-image {
  max-width: 40%;
}

.hero-section-heading {
  font-size: 4em;
}

.social-container {
  margin: 20px 0;
}

.social {
  border: 2px solid #eeeeee;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

.hero-content {
  position: absolute;
}
