* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.formContainer {
    background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.form_area {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    width: 80%;
    max-width: 550px;
    max-height: 70%;
    overflow-y: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #1dbfec;
  width: 500px;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.textarea_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #1dbfec;
  width: 500px;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 15px;

  resize: vertical; /* Allow vertical resizing */
}

.formimg_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #1dbfec;
  width: 200px;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus,
.formimg_style:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #1dbfec;
}

.btnBox {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.cancel-btn,
.btn {
  padding: 15px;
  margin: 25px 0px;
  font-size: 15px;
  background: #fff;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #1dbfec;
}

.btn:hover {
  opacity: 0.9;
}
