* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #837d7c;
}

.container {
  max-width: 75%;
  margin: auto;
  height: 80vh;
  margin-top: 2rem;
  background: white;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

.left,
.right {
  width: 50%;
  padding: 30px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex1 {
  display: flex;
}

.petDetails {
  text-transform: capitalize;
  padding: 0 0 0.5rem 0;
}

.main_image {
  width: 100%;
  height: 400px; 
  overflow: hidden; 
  border: 2px solid #ccc; 
  border-radius: 15px;
}

.main_image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px;
}

.option img {
  width: 90px;
  height: 75px;
  padding: 5px;
  border-radius: 15px;
  transition: transform 0.3s ease; 
}

.option img:hover {
  transform: scale(1.1); 
}
.right {
  padding: 50px 100px 50px 50px;
}

.right h3 {
  margin: 20px 0 20px 0;
  font-size: 25px;
}

.right h5,
p,
small {
  color: #837d7c;
}

h4 {
  color: red;
}

p {
  font-size: 0.8rem;
  margin: 5px 0;
  line-height: 25px;
}

h5 {
  font-size: 15px;
}

.headingDesc {
  padding-top: 1rem;
}
.desc {
  font-size: 1rem;
  text-align: justify;
  padding-bottom: 1rem;
}

.btn-contact {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  border: none;
  background-color: #19a7ce;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-contact:hover {
  background-color: #1ec1ee;
}

.popup-form-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-form {
  background-color: #ffffff;
  padding: 40px;
  width: 80%;
  max-width: 400px;
  max-height: 70%;
  overflow-y: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.popup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.popup-form form {
  text-align: left;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
  color: #555555;
}

.required-label::after {
  content: " *REQUIRED*";
  color: red;
  margin-left: 10px;
  font-size: 10;
}

.popup-form input[type="text"],
.popup-form input[type="email"],
.popup-form input[type="tel"],
.popup-form input[type="date"],
.popup-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: rgba(245, 245, 245, 245);
}

.popup-form input[type="text"]:focus,
.popup-form input[type="email"]:focus,
.popup-form input[type="tel"]:focus,
.popup-form input[type="date"]:focus,
.popup-form textarea:focus {
  border-color: #4caf50;
}

.popup-form input[type="checkbox"] {
  margin-bottom: 20px;
}

.popup-form input[type="button"],
.popup-form input[type="submit"] {
  background-color: #19a7ce;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
}

.popup-form input[type="button"] {
  margin-right: 10px;
}

.popup-form input[type="submit"] {
  margin-left: 10px;
}

.popup-form input[type="button"]:hover,
.popup-form input[type="submit"]:hover {
  background-color: #1ec1ee;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #999999;
  cursor: pointer;
}

.close-btn:hover {
  color: #555555;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .left,
  .right {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 511px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  .left,
  .right {
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .option {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
