/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 70px;
}

.sub-header{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0px;
}
/* Styling for card container */
.card-container {
  margin-top: 40px;
  padding: 1rem 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Styling for card */
.card {
  width: 360px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  margin: 20px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

/* Styling for card header */
.card-header {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa; /* Warna latar belakang header */
  border-bottom: 1px solid #e0e0e0; /* Garis bawah */
  border-radius: 10px 10px 0 0; /* Melengkungkan sudut heade */
}

/* Styling for card body */
.card-body {
  text-align: center;
  padding: 1rem 25px; /* Add padding to the card body */
}

.card-body p {
  font-size: 0.8rem;
  text-align: left;
  color: #767676;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0px;
}

/* Styling for pet image */
.pet-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styling for card hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
