
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /* Navbar start*/
  .navBar {
    padding: 1rem 10%;
    color: #fff;
    background-color: #19a7ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #513c28; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbarLogo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    text-decoration: none;
  }
  
  .navbarLogo span {
    color: #fe0000;
  }
  
  .navbarMenu a {
    letter-spacing: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0 2rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .navbarMenu a:hover {
    color: #fff;
  }
  
  .navbarMenu a::after {
    content: "";
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbarMenu a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbarMenu a.active {
    color: #fff;
    border-color: #fff;
  }
  /* Navbar end */