* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navbar start*/
.navBar {
  padding: 1rem 10%;
  color: #fff;
  background-color: #19a7ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #513c28; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbarLogo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.navbarLogo span {
  color: #fe0000;
}

.navbarMenu a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin: 0 2rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navbarMenu a:hover {
  color: #fff;
}

.navbarMenu a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbarMenu a:hover::after {
  transform: scaleX(0.5);
}

.navbarMenu a.active {
  color: #fff;
  border-color: #fff;
}
/* Navbar end */

/* Hero section start */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f3ef;
}

.hero-content {
  padding: 15rem 10%;
  max-width: 900px;
}

.hero-section-heading {
  font-size: 3.5rem;
  font-weight: bold;
}

.hero-p {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.hero-image {
  width: 650px;
  position: absolute;
  bottom: 12rem;
  right: 5%;
}

.cardList {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.social-container {
  margin: 20px 0;
}

.social {
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: #000;
}

.social:hover {
  background: #fe0000;
}
