
    <h1>Pet Adoption Form</h1>
    <form action="#" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>

        <label>Sex:</label>
        <input type="radio" id="female" name="sex" value="female" required>
        <label for="female">Female</label>
        <input type="radio" id="male" name="sex" value="male" required>
        <label for="male">Male</label>

        <label>Size:</label>
        <input type="radio" id="small" name="size" value="small" required>
        <label for="small">Small</label>
        <input type="radio" id="medium" name="size" value="medium" required>
        <label for="medium">Medium</label>
        <input type="radio" id="large" name="size" value="large" required>
        <label for="large">Large</label>

        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed">

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">

        <label>Category:</label>
        <input type="radio" id="cat" name="category" value="cat" required>
        <label for="cat">Cat</label>
        <input type="radio" id="dog" name="category" value="dog" required>
        <label for="dog">Dog</label>
        <input type="radio" id="others" name="category" value="others" required>
        <label for="others">Others</label>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>

        <button type="submit">Submit</button>
    </form>

    
    <link rel="stylesheet" href="/style/addPet.css" />
