<!-- Card detail hewan start -->
<section class="details">
  <% if(pets){ %>
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="img/dogs/dog4.jpg" class="slide">
        </div>
        <div class="option flex">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p1.jpg')">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p2.jpg')">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p3.jpg')">
        </div>
      </div>
      <div class="right">
        <h3>Bonbon</h3>

        <h5>General Information</h5>
        <div class="petDetails">
         <p> Age: </p>
         <p> Gender: </p>
         <p>Breed: </p>
         <p> Size: </p>
         <p> Location: </p>
       
        </div>
        
        <h5 class="descHeading">Description</h5>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
     
   

        <button class="btn-contact" id="btn-contact"><b>Adopt pet</b></button>
      </div>
    </div>
  <% } else{ %>
  <p>Pet not found.</p>
  <% } %>
</section>
<!-- Card detail hewan end-->

<!-- Form pop up ketika ingin adopsi -->
<div class="popup-form-container" id="popup-form-container">
  <div class="popup-form">
    <span class="close-btn" onclick="closeForm()">&times;</span>
    <h2>Adoption Form</h2>
    <form action="/adoption-form" method="post">
      <div class="form-group">
        <label for="fname" class="required-label">First Name</label>
        <input type="text" id="firstname" name="fname" required />
      </div>
      <div class="form-group">
        <label for="lname" class="required-label">Last Name</label>
        <input type="text" id="lastname" name="lname" required />
      </div>
      <div class="form-group">
        <label for="email" class="required-label">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="dob" class="required-label">Date of Birth</label>
        <input type="date" id="dob" name="dob" required />
      </div>
      <div class="form-group">
        <label for="address" class="required-label">Address</label>
        <input type="text" id="address" name="address" required />
      </div>
      <div class="form-group">
        <label for="phone" class="required-label">Telephone</label>
        <input type="tel" id="phone" name="phone" required />
      </div>
      <div class="form-group">
        <label for="have-pets">Do you have pets?</label>
        <input type="text" id="have-pets" name="havePets" />
      </div>
      <div class="form-group">
        <label for="have-children">Do you have children in your house?</label>
        <input type="text" id="have-children" name="haveChildren" />
      </div>
      <input
        type="button"
        class="cancel-btn"
        value="Cancel"
        onclick="closeForm()"
      />
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>

<link rel="stylesheet" href="/style/details.css" />
<link rel="stylesheet" href="/style/ResponsiveNavbarTes.css" />
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
crossorigin="anonymous"
/>

<script src="/script/details.js"></script>
