<div class="container">
    <div class="header">
        <h1>404</h1>
        <h3>Page Not Found!</h3>
    </div>
    <img src="/img/error.png">

    <div class="footer">
        <p>We're sorry the page you requested could not be found. Please get back!</p>
    </div>
</div>