<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetMeOut</title>

    <link rel="stylesheet" href="style/errorPage.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>404</h1>
        <h3>Page Not Found!</h3>
      </div>
      <img src="/img/error.png" />

      <div class="footer">
        <p>
          We're sorry the page you requested could not be found. Please get
          back!
        </p>
        <a href="/" class="button">GO HOME</a>
      </div>
    </div>
  </body>
</html>
