
    <!-- Navbar end -->

    <!-- FAQ section start -->
    <section class="FAQ">
      <h1 class="heading" >
        How can we help ?
      </h1>
      <h5 class="subheading">choose one of the topic below</h5>

      <ul class="button-list">
        <li class="button-item">
          <a id="basic-button" class="nav_link active">Basic information</a>
        </li>
        <li class="button-item">
          <a id="adoption-button" class="nav_link">Adoption</a>
        </li>
        <li class="button-item">
          <a id="help-button" class="nav_link">How to help</a>
        </li>
      </ul>

      <!-- Basic information -->
      <div class="FAQ-container">
        <div id="faq-title" class="FAQ-title">
          <h1 class="FAQ-container-heading">Basic Information</h1>
          <h5 class="FAQ-container-subheading">
            Learn more from our website so you can help us to encourage people
            around you to adopt a pet rather than buying animals.
          </h5>
        </div>

        <div class="accordion-container">
          <div class="accordion-content">
            <header>
              <span class="title">What is PetMeOut?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              PetMeOut is a pet adoption platform connecting Adoptee and
              Adopters. By using this website, you will be able to find
              adoptable cute animals that desperately need a new home.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">What is our mission?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Our mission is to simplify the whole pet adoption process to the
              next level by using technology.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">Who should use this website?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Everyone who loves animals, everyone who want to adopt animals,
              everyone who wants to find adopters and everyone who wants to
              participate to solve animals overpopulation and give more chances
              for the stray or rescued animals to have a better life.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">Are we allowed to buy and sell?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              NO! we are totally against animals trade and we are fully
              supporting the stray animal adoption program.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">Is there another languages?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Our website is using English as a global main language. We are
              looking to provide more languages in the future.
            </p>
          </div>
        </div>
      </div>

      <!-- adoption -->
      <div class="FAQ-container">
        <div id="faq-title" class="FAQ-title">
          <h1 class="FAQ-container-heading">Adoption</h1>
          <h5 class="FAQ-container-subheading">
            By adopting a rescue or stray animals, you will get a forever-loyal
            companion.
          </h5>
        </div>

        <div class="accordion-container">
          <div class="accordion-content">
            <header>
              <span class="title">How to adopt a cat/dog in PetMeOut?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              When you register to PetMeOut. You will have both controls as an
              Adopter and as an Adoptee. Adopters are users who use PetMeOut as
              pet adoption app to find a companion animal. All you have to do is
              to fill the adoption form on the animal's profile and get
              connected with the Adoptee once your application to adopt has been
              accepted.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title"
                >How to find adopters for my rescued animals?</span
              >
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              When you register to PetMeOut. You will have both controls as an
              Adopter and as an Adoptee. Adoptees are users who use PetMeOut as
              pet adoption app to find adopters for the animals. Each adoptee
              represents 1 or more animals. All you have to do is start
              uploading the animal's photo and information and share. Once your
              animals have been uploaded, you may receive some adoption
              applications answers from potential adopters. Make sure you accept
              the most suitable adopters for your animals by screening the best
              information you get.
            </p>
          </div>
        </div>
      </div>

      <!-- How To Help -->
      <div class="FAQ-container" >
        <div id="faq-title" class="FAQ-title">
          <h1 class="FAQ-container-heading">How to help</h1>
          <h5 class="FAQ-container-subheading">
            PetMeOut is a society product, we believe in the power of
            human-animal love and compassion will help PetMeOut to realize our
            dream. please help us to reach our goals!
          </h5>
        </div>

        <div class="accordion-container">
          <div class="accordion-content">
            <header>
              <span class="title">How does PetMeOut get funds?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Well we still dont know when we gonna get our funds.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">Can PetMeOut receive the donation</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Yes please, our company need money so any donation will be
              appreciated.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">How can i support PetMeOut?</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Yes you can, you can donate us, any donation means support to us.
            </p>
          </div>

          <div class="accordion-content">
            <header>
              <span class="title">How to contact us for more information</span>
              <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
              Well, we're still working to make contact form, so for now you
              cant contact us.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ section end -->

    <!-- Footer start  -->
    
    <!-- Footer end -->
    <link rel="stylesheet" href="/style/FAQ.css" />
    <!-- Script -->
    <script src="/script/faq.js"></script>
    <script src="/script/ResponsiveNavbarTes.js"></script>
 