<!DOCTYPE html>
<html lang="en">
    <%- include('layout/header') %>
    <body>
        <%- include('layout/Navbar') %>
        
        <%- body %>

        <%- include('layout/footer') %>
    </body>
</html>