<div class="forgot-password-container">
  <form action="/forgotpass/resetPassword/<%= token %>" method="post" id="forgotPasswordForm">
    <h1>Forgot Password</h1>
    <span>Please enter your new Password</span>
    <input type="password" name="password" id="password" placeholder="Enter your new password" />
    <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm your new password" />
    <p class="error-message"><%= messages.error && messages.error.includes('Passwords do not match') ? 'Passwords does not match' : '' %></p>
    <p class="error-message"><%= messages.error && messages.error.includes('Password must be at least 8 characters long') ? 'Password must be at least 8 characters long' : '' %></p>
    <div class="button-container">
      <button type="submit" name="resetPassword" id="resetPasswordBtn">Reset Password</button>
      <button type="button" id="loginBtn" onclick="redirectToSignInUp()">Login</button>
    </div>
    
  </form>
</div>
<link rel="stylesheet" href="/style/forgotPasswords.css" />
<script src="/script/forgotPasswords.js"></script>
