<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="style/details.css">
</head>

<body>
  <section>
    <div class="container flex">
      <div class="left">
        <div class="main_image">
          <img src="img/dogs/dog4.jpg" class="slide">
        </div>
        <div class="option flex">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p1.jpg')">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p2.jpg')">
          <img src="img/dogs/dog4.jpg" onclick="img('image/p3.jpg')">
        </div>
      </div>
      <div class="right">
        <h3>Bonbon</h3>

        <h5>General Information</h5>
        <div class="petDetails">
         <p> Age: </p>
         <p> Gender: </p>
         <p>Breed: </p>
         <p> Size: </p>
         <p> Location: </p>
       
        </div>
        
        <h5 class="descHeading">Description</h5>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
     
   

        <button class="btn-contact" id="btn-contact"><b>Adopt pet</b></button>
      </div>
    </div>
  </section>
  <script>

  </script>
</body>

</html>