<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animal Adopt</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/style/about.css" />
    <!-- CSS -->

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Icons -->
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navBar">
      <a href="#" class="navbarLogo">petMEout</a>

      <div class="navbarMenu">
        <a href="/layout/home.html">Home</a>
        <a href="/layout/about.html">About</a>
        <a href="/layout/adopt.html">Adopt!</a>
      </div>
    </nav>
    <!-- Navbar end -->

    <!-- About section start -->
    <section class="about">
      <div class="about-content">
        <h1>ABOUT <span>US</span></h1>
      </div>
    </section>
    <!-- About section end -->

    <!-- Know us section start -->
    <section class="knowUs">
      <h2>The Idea behind</h2>
      <div class="knowUs-content">
        <p>
          We know pet adoption, because we're adopters too. We think it's just
          about the best thing you can do. But we'll be real: it can be a
          lengthy (paperwork-filled) process.
        </p>
        <p>
          So we're making it easier, with the tools, advice, and transparency
          you need—from the first search through to daily life as a pet parent.
        </p>
        <p>
          Because we'll do whatever it takes to help millions of people and pets
          find each other.
        </p>
        <p>Ready to find your pet? Let's do it.</p>
      </div>

      <div class="social-container">
        <a href="#" class="social"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </section>
    <!-- Know us section end -->

    <section class="whyAdopt">
      <h2>Check out adoption advice</h2>

      <h5 class="adopt-heading">
        Get the inside scoop on pet adoption and bring home a furry friend
      </h5>

      <div class="whyAdopt-container">
        <div class="whyAdopt-card">
          <h3>Why we recommend adopting</h3>
          <hr>
          <p>
            There are so many reasons to adopt: meeting a unique pet, spending
            less, doing a good deed—but let’s talk facts. Millions of pets enter
            shelters every year. And hundreds of thousands are euthanized each
            year. We don’t tell you that to guilt you or be a downer, but that’s
            why adoption really matters to us. So we would love it if you
            considered adopting. And, since you're here, we’re guessing you are.
            Seriously, no judgment if you find a pet another way (every pet
            parent journey is different!). But we’re here to help make adoption
            easier, however we can.
          </p>
        </div>

        <div class="whyAdopt-card">
          <h3>How to find the perfect pet</h3>
          <hr>
          <p>
            Let’s bust a myth. The perfect pet? Doesn’t exist. Because there are
            so many pets that can be the right fit for you. It’s just about
            knowing what you’re looking for. So start by thinking about your
            criteria based on your lifestyle, breed preferences, living
            situation, (fur and human) family, etc. From there, our team can
            help match you with the right pet. Check out our New Pet Alerts too:
            with Alerts, we’ll email you newly added adoptable pets that fit
            your search—so you can check out matches and meet your next best
            friend faster.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
