<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    
    <link rel="stylesheet" href="/style/adopt.css" />
</head>

<body>
    <nav class="navBar">
        <a href="#" class="navbarLogo">petMEout</a>
    
        <div class="navbarMenu">
          <a href="/layout/home.html">Home</a>
          <a href="/layout/about.html">About</a>
          <a href="#projects">Adopt!</a>
        </div>
      </nav>

      <section class="haiya"></section>
    
</body>
</html>

