<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi hewan</title>

    <link rel="stylesheet" href="/style/styleDetails.css">

</head>
<body>

    <div class="card">
        <div class="details">
            <h2>Detail Hewan</h2>
            <p><b>Nama: </b>Kucing Meong</p>
            <p><b>Jenis: </b>Kucing Persia</p>
            <p><b>Usia: </b>2 tahun</p>
            <p class="description"><b>Deskripsi:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel metus nec nisi vehicula maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sit amet metus risus. </p>
            <p><b>Lokasi:</b> Surabaya, Indonesia</p>
            <a href="#" class="btn-contact"><b>Adopt pet</b></a>
        </div>

        <div class="image">
            <img src="/img/cat.jpg" alt="Gambar Hewan">
        </div>
    </div>

</body>
</html>