<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi hewan</title>

    <link rel="stylesheet" href="/style/styleDetails.css">
    <link rel="stylesheet" href="/style/navbar.css" />

</head>
<body>

    <!-- Navbar start -->
    <nav class="navBar">
        <a href="#" class="navbarLogo">PetMeOut</a>
  
        <div class="navbarMenu">
          <a href="/layout/home.html">Home</a>
          <a href="/layout/about.html">About</a>
          <a href="/layout/FAQ.html">FAQ</a>
        </div>
  
        <a href="/layout/signinup.html" class="regisLog">Login/Register</a>
      </nav>
      <!-- Navbar end -->

    <div class="card">
        <div class="details">
            <h2>Detail Hewan</h2>
            <p><b>Nama: </b>Kucing Meong</p>
            <p><b>Jenis: </b>Kucing Persia</p>
            <p><b>Usia: </b>2 tahun</p>
            <p class="description"><b>Deskripsi:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel metus nec nisi vehicula maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sit amet metus risus. </p>
            <p><b>Lokasi:</b> Surabaya, Indonesia</p>
            <a href="adopt" class="btn-contact"><b>Adopt pet</b></a>
        </div>

        <div class="image">
            <img src="/img/cats/cat5.jpg" alt="Gambar Hewan">
        </div>
    </div>

    <div class="popup-form-container" id="popup-form-container">
        <div class="popup-form">
            <span class="close-btn" onclick="closeForm()">&times;</span>
            <h2>Adoption Form</h2>
            <form action="adopt">
                <div class="form-group">
                    <label for="fname" class="required-label">First Name</label>
                    <input type="text" id="fname" name="fname" required>
                </div>
                <div class="form-group">
                    <label for="lname" class="required-label">Last Name</label>
                    <input type="text" id="lname" name="lname" required>
                </div>
                <div class="form-group">
                    <label for="email" class="required-label">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="dob" class="required-label">Date of Birth</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <div class="form-group">
                    <label for="address" class="required-label">Address</label>
                    <input type="text" id="address">
                </div>
                <div class="form-group">
                    <label for="phone" class="required-label">Telephone</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="have-pets">Do you have pets?</label>
                    <input type="text" id="have-pets" name="have-pets">
                </div>
                <div class="form-group">
                    <label for="have-children">Do you have children in your house?</label>
                    <input type="text" id="have-children" name="have-children">
                </div>

                <input type="button" class="cancel-btn" value="Cancel" onclick="closeForm()">
                <input type="submit" value="Submit">

            </form>
        </div>
    </div>

    <script src="/script/script.js"></script>

</body>
</html>