<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/style/FAQ.css" />
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navBar">
      <a href="#" class="navbarLogo">petMEout</a>

      <div class="navbarMenu">
        <a href="/layout/home.html">Home</a>
        <a href="/layout/about.html">About</a>
        <a href="/layout/FAQ.html">FAQ</a>
        <a href="/layout/adopt.html">Adopt!</a>
      </div>
    </nav>
    <!-- Navbar end -->

    <section class="FAQ">
      <h1>How can we help ?</h1>
      <h5>Choose one of the topic below</h5>

      <ul class="button-list">
        <li class="button-item">
          <a
            href="#"
            class="nav-link active"
            onclick="changeTab(event, 'basic')"
            >Basic information</a
          >
        </li>
        <li class="button-item">
          <a href="#" class="nav-link" onclick="changeTab(event, 'adoption')"
            >Adoption</a
          >
        </li>
        <li class="button-item">
          <a href="#" class="nav-link" onclick="changeTab(event, 'help')"
            >How to help</a
          >
        </li>
      </ul>

      <div class="FAQ-container">
        <h1>Basic Information</h1>
        <h5>
          Learn more from our website so you can help us to encourage people
          around you to adopt a pet rather than buying animals.
        </h5>
      </div>
    </section>
  </body>
</html>
