<header class="nav-header">
  <div class="navbar">
    <div class="logo">
      <a href="#">PetMeOut</a>
    </div>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
     
      <li><a href="/blog">Blog</a></li>
      <li><a href="/FAQ">FAQ</a></li>
      <% if (isAuthenticated && currentUser.isAdmin) { %>
      <li><a href="/pets/dashboard">Dashboard</a></li>
      <% } %>
    </ul>

    <div class="profile-dropdown">
      <!-- Tambahkan div untuk profile dropdown -->
      <% if (!isAuthenticated) { %>
      <a href="/account" class="action-button">Login/Register</a>
      <% } else { %>
      <div class="profile-dropdown">
        <div onclick="toggle()" class="profile-dropdown-btn">
          <% if (isAuthenticated && isAdmin){ %>
          <div class="profile-img">
            <img src="/img/admin.png" loading="lazy" />
          </div>
          <span
            >Admin
            <i class="fa-solid fa-angle-down"></i>
          </span>
          <ul class="profile-dropdown-list">
            <li class="profile-dropdown-list-item">
              <a href="/account/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Log out
              </a>
            </li>
          </ul>
          <% } else { %>
          <div class="profile-img">
            <% if (currentUser.profilePict != null) { %>
            <div class="profile-img">
              <img src="/<%= currentUser.profilePict %>" />
              <!-- Render user's profile picture -->
            </div>
            <% } else { %>
            <div class="profile-img">
              <img src="/img/profile-user.png" loading="lazy" />
            </div>
            <% } %>
          </div>
          <span
            ><%= currentUser.username%>
            <i class="fa-solid fa-angle-down"></i>
          </span>
          <ul class="profile-dropdown-list">
            <li class="profile-dropdown-list-item">
              <a href="/profile/<%= currentUser._id%>">
                <i class="fa-regular fa-user"></i>
                Edit Profile
              </a>
            </li>

            <li class="profile-dropdown-list-item">
              <a href="/account/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Log out
              </a>
            </li>
          </ul>
          <% } %>
        </div>

        <% } %>
      </div>

      <div class="toggle-button">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <!-- Dropdown menu pada navbar (untuk mobile) -->
    <div class="dropdown-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/FAQ">FAQ</a></li>
      <% if (isAuthenticated && isAdmin) { %>
      <!-- Tampilkan opsi untuk admin -->
      <li><a href="/dashboard">Dashboard</a></li>
      <% } %> <% if (!isAuthenticated) { %>
      <a href="/signinup" class="action-button">Login/Register</a>
      <% } else { %>
      <a href="/logout" class="action-button">Logout</a>
      <% } %>
    </div>
  </div>
</header>
